h1{
    color: #a9d800;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 5vw;
}
h2{
    color: #a9d800;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 5vw;
}